.card {
  position: relative;
  background-color: white;
  color: black;
  mix-blend-mode: normal;
  box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.237);
  // cards have a 5:7 ratio
  width: 7.5rem;
  height: 10.5rem;
  font-size: .85rem;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow-wrap: break-word;
  transition: all .5s ease-in-out;
  flex-shrink:0;
  transform: var(--rotation);
}
.card.blackCard{
  background-color: black;
  color: white;
}

// hand positioning
.hand {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  overflow-y: hidden;
  height: 25rem;
}
// dip cards down a bit
.handCard {
  position: relative;
  margin-bottom: -4rem;
  margin-top: auto;
}
// selected/hovered cards pop up and expand
.hand.letUserPick.submitPhase > .handCard:hover,
.hand.cardSelected.submitPhase > .handCard.selected {
  margin-bottom: 1rem;
  transform: scale(1.25) !important;
}
// On desktop
.desktop {
  // hand cards group together tightly
  .handCard {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }
  // selected/hovered hand cards are given room to show all their text
  .hand.letUserPick.submitPhase > .handCard:hover,
  .hand.cardSelected.submitPhase > .handCard.selected {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  // Submitted card shrinks away
  .hand.cardSubmitted > .card.handCard.selected, .hand > .card.handCard.discarded {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
// On Mobile
.mobile {
  // you scroll between cards horizontally
  .hand, .submitted { overflow-x: scroll; }
  // selected/hovered hand cards are given room to show all their text
  .hand.cardSelected.submitPhase > .handCard.selected {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .submitted {
    height: 15rem;
    margin-top: -2.5rem;
    padding-top: 2.5rem;
  }
  .submitted.pick {
    height: 25rem
  }

  .hand.cardSubmitted > .card.handCard.selected, .hand > .card.handCard.discarded {
    margin-right: -1rem;
  }
}

// Submitted card shrinks away
.hand > .card.handCard.discarded,
.hand.cardSubmitted > .card.handCard.selected {
  margin-bottom: -10rem;
  transform: scale(0) !important;
  width: 0;
  height: 0;
  // instantly hide controls after card is submitted
  .cardControls {
    display: none;
  }
}

// confirm/cancel buttons
.cardControls {
  z-index: 1000;
  position: absolute;
  left: -100%;
  right: -100%;
  width: 300%;
  button { font-size: 2rem; }
  button.discard { background-color: darkcyan; }
  button.confirm { background-color: green; }
  button.cancel { background-color: red; }
}
// position hand card controls above
.handCard > .cardControls { top: -8rem; }
// and pool card controls below
.pool .cardControls { bottom: -6rem; }

.pool {
  // position black card centered a bit from the top of the screen
  .blackCard {
    margin: auto;
    margin-top: 1rem;
  }
  // hovering it should expand it a tad
  .blackCard.card:hover {
    margin-top: 2rem;
    transform: scale(1.25) !important;
  }

  .submitted {
    // TODO: clean up so its a tad nicer
    // TODO: make static after a card is clicked like in hand
    &.cardNotSelected.pick .card:hover, .card.winningCard, &.cardSelected .card.selected {
      transform: scale(1.25) !important;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }

    // display username of submitter beneath pool card
    .card > .submitter {
      position: absolute;
      bottom: -1.5rem;
      color: white;
    }
    // winning card should shine gold
    .winningCard { box-shadow: 0 0.1rem 0.5rem 0.1rem gold; }
  }
}

// animations
.zoomIn { animation: zoom-in 1s; }
@keyframes zoom-in {
  0%   { transform: scale(0) var(--rotation); }
  100% { transform: scale(1) var(--rotation); }
}
.flipIn { animation: flip-in 1s; }
@keyframes flip-in {
  0%   { transform: rotateY(180deg) var(--rotation); font-size: 0rem; }
  28%  { font-size: 0rem; }
  29%  { font-size: .85rem; }
  100% { transform: rotateY(0deg) var(--rotation); }
}
.flipIn::after {
  content: "Cards Against Humanity";
  display: inline-block;
  transform: scaleX(-1);
  font-size: 0rem;
  animation: flip-in-text .5s;
}
@keyframes flip-in-text {
  0%   { font-size: .85rem; }
  28%  { font-size: .85rem; }
  29%  { font-size: 0rem; }
  100% { font-size: 0rem; }
}

// .blackCard {
//   font-size: 0rem;
// }
// .blackCard::after {
//   font-size: .85rem;
//   content: "Cards Against Humanity";
// }