// Game Creation / Lobby Finding
.gameLobby {
  gap: 1rem;

  input {
    min-width: 1rem;
    width: 100%;
  }
  span, button {
    width: fit-content;
    font-size: 1rem;
    white-space: nowrap;
  }

  .username {
    width: 100%;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.create_game {
  width: 100%;
  max-width: min(80vw, 50rem);

  &>.labeled_input  {
    label { min-width: 13rem; margin-right: 0; }
    input { min-width: 1rem; }
  }

  // Pack selection
  details {
    margin-left: 1rem;
    summary > * { display: inline; }
    ::marker { font-size: 1.25rem; }

    .packCheckBox {
      position: relative;
      left: 0;

      &.pack { margin-left: 2rem; }
      &.section { font-size: 1.5rem; }
      &.category { font-size: 1.25rem; }

      &.section, &.category {
        input {
          position: absolute;
          left: -0.2rem;
          top: .3rem;
        }
        label { margin-left: 1rem; }
      }

      label {
        max-width: 60vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 0;
      }

      // force spacer to not work
      flex-direction: row-reverse;
      .spacer { order: -1; }
    }
  }
}