// Game Creation / Lobby Finding
.lobbies {
  width: 100%;
  max-width: min(80vw, 30rem);

  button.refresh {
    padding: 0;
    margin: auto 0;

    &, svg { width: 1.75rem; height: 1.75rem; }


    transition: transform .5s;
    transform: rotate(360deg);
    &:active { transform: rotate(0); transition:  0s; }
  }
}


.gameLobby {
  gap: .5rem;

  input {
    min-width: 1rem;
    width: 30%;
  }
  span, button {
    width: fit-content;
    font-size: 1rem;
    white-space: nowrap;
  }

  .username {
    width: 50%;
    max-width: 10rem;
    min-width: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg { min-width: 1.5rem; min-height: 1.5rem; }
}

.create_game {
  width: 100%;
  max-width: min(80vw, 50rem);

  &>.labeled_input  {
    label { min-width: 13rem; margin-right: 0; }
    input { min-width: 1rem; }
  }

  // Pack selection
  details {
    margin-left: 1rem;
    summary > * { display: inline; }
    ::marker { font-size: 1.25rem; }

    .packCheckBox {
      position: relative;
      left: 0;

      &.section { font-size: 1.5rem; }
      &.category {
        font-size: 1.25rem;
        input[type="checkbox"] { top: 0.1rem; }
      }
      &.pack {
        margin-left: 3.255rem;
        input[type="checkbox"] { position: absolute; left: -1.25rem; }
      }

      &.section, &.category {
        input {
          position: absolute;
          left: -0.2rem;
          top: .3rem;
        }
        label { margin-left: 1rem; }
      }

      label {
        max-width: 60vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 0;
      }

      // force spacer to not work
      flex-direction: row-reverse;
      .spacer { order: -1; }
    }
  }
}