header {
  min-width: 90%;
  max-width: 60rem;
  .logo { font-size: 3rem; }
  button { font-size: 1rem; }
}
header {
  margin: 1rem auto;
  padding: 0 1rem;
}
.desktop header {
  display: flex;
  flex-direction: row;
}