header {
  max-width: 60rem;
  .logo { font-size: 3rem; }
  button { font-size: 1rem; }
}
.desktop header {
  margin: 2rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}
.mobile header {
  margin: 1rem auto;
  padding: 0 1rem;
}