// vars
* {
  --background-color: #1c1c1c;
  --background-elev1: #1d1d1d;
  --background-elev2: #212121;
  --background-elev3: #232323;
  --background-elev4: #262626;
  --background-elev5: #2c2c2c;
}

// Assign to parents for changing direction
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
// Assign to children of row/col to center
.row.centerChildren > *, .row > .centered { align-self: center; margin: auto 0px; }
.col.centerChildren > *, .col > .centered { align-self: center; margin: 0px auto; }
// Assign to empty child div to aesthetically fill space
.spacer { flex:1; }

// font stuff
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url("../assets/NeueHelveticaBQ-Bold.otf") format("opentype");
}
* {
  font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// layout
body { margin: 0; }
.app > .col { padding: 0 1rem; }

// Custom component styling
.panel {
  background-color: var(--background-elev1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.237);

  min-width: 16rem;
  button { font-size: 1.5rem; }
}
.labeled_input > label { margin-right: 1rem; }
.invisible { opacity: 0; cursor: default; }

// General component styling
a {
  text-decoration: none;
  color: aqua;
  width: fit-content;
  height: fit-content;
}
h1, h2, h3, h4, h5, p, button, span, label, ::marker {
  margin: 0;
  color: white;
}
.errors { color: #F00; }
button {
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
.desktop button {
  scale: 0.95;
  &:hover { scale: 1 }
  &:active { scale: 0.95; }
}